name: Run Tests

on:
    pull_request:
        branches:
            - master
    push:
        branches:
            - master
        paths:
            - '**/*.ts'
            - 'package.json'

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Create .env file
              run: |
                  echo TEST_USER_EMAIL=${{ secrets.TEST_USER_EMAIL }} >> .env
                  echo TEST_USER_PASSWORD=${{ secrets.TEST_USER_PASSWORD }} >> .env

            - name: Install dependencies
              run: |
                  npm ci

            - name: Run tests
              run: |
                  npm run test
